img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 500px;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 60, 100, 0.5);
}
{
.pvw-title span {
  display: none;
}
.pvw-title:after {
  content: 'whatever it is you want to add';
}
{
  font-family: 'El Messiri', sans-     serif;
}
h1{
font-family: 'Harmattan', sans-serif;
}